<div class="book-form-container">
  <h2>Add a new book</h2>
      <mat-form-field>
        <input matInput placeholder="Title" required
              [formControl]="title">
        <mat-error *ngIf="title.invalid">{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Author" required
               [formControl]="authorName">
        <mat-error *ngIf="authorName.invalid">{{getAuthorErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="publishedDatepicker" placeholder="Published" required
               [formControl]="published">
        <mat-datepicker-toggle matSuffix [for]="publishedDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #publishedDatepicker></mat-datepicker>
        <mat-error *ngIf="published.invalid">{{getPublishedErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Notes"
               [formControl]="notes">
      </mat-form-field>

      <button mat-raised-button [disabled]="title.invalid || authorName.invalid || published.invalid" (click)="onSubmit()">Add</button>

</div>
