<h1>Books</h1>
<mat-accordion>
  <mat-expansion-panel  *ngFor="let book of books | async">

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{book.author}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="mat-expansion-panel-content">
      <p><b>Published:</b> {{book.published}}</p>
      <p><b>Notes:</b> {{book.notes}}</p>
    </div>

  </mat-expansion-panel>
</mat-accordion>
