/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #ECF0F1;
}

h1, h2 {
  color: #2874A6;
  font-family: "Helvetica Neue";
}
